<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DebugMode" value="1" />
    <add key="DebugLocation" value="" />
    <add key="LastPath" value="C:\Development" />
    <add key="GitSummaryDefaults" value="chkRunFetch,chkRunUnpulled,chkRunUnpushed,chkRunStashed,chkRunUnmerged,chkRecursive," />
  </appSettings>
</configuration>
